<%- contentFor('body')  %>

<div class="jumbotron text-justify">
    <h2>Página sobre a aplicação</h2>
    <p>
        Aplicação desenvolvida para visualizar os alunos Cadastrados no curso <i>Mestres da Programação</i>!
    </p>
    <p>
        O sistema adiciona permite adicionar novos alunos, remover alunos que tenham terminado o curso e visualizar quais alunos estão interessados em receber emails com informações sobre o curso.
    </p>
</div>

